
<h2>Add a Quote</h2>
<% provide(:title, "Add a Quote") %>
<%= form_for(@quote) do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.label :author %>
  <%= f.text_field :author%>
  <%= f.label :language %>
  <%= f.text_field :language%>
  <%= f.submit%>
<% end %>
