<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title) %> </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p>
        <%= link_to 'Quote Generator', quote_generator_path %>
    </p>
    <p>
        <%= link_to 'Hello World in ENG', home_path %>
    </p>
    <p>
       <%= link_to 'Hello World in FR', fr_path %>
    </p>
    <p>
       <%= link_to 'Hello World in RUS', rus_path %>
    </p>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
