<!DOCTYPE html>
<html>
  <head>
    <title> <%= yield(:title) %> </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p>
       <%= link_to 'Add Quote', form_path %>|
        <%= link_to 'Generate a Quote in English', quote_generator_path %>|
       <%= link_to 'Generate a Quote in Multiple Languages', quote_home_path %>|
       <%= link_to 'List of Available Quotes', index_path %>|
        <%= link_to 'Hello World: ENG', home_path %>|
       <%= link_to 'Hello World: FR', fr_path %>|
       <%= link_to 'Hello World: RUS', rus_path %>
    </p>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
