<!DOCTYPE html>

<html>
  <head>
    <title> <%= yield(:title) %> </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <h1 > Quote Generator </h1>
    <%= button_to "About", about_path, method: :get, form: {style: 'display:inline-block;'}, class: 'my_button', :title=>"Click here to learn about this website."%>
    <%= button_to "Generate Quote", quote_home_path, method: :get, form: {style: 'display:inline-block;'},class: 'my_button',  :title=>"Click here to generate a quote." %>
    <%= button_to "Add Quote", form_path, method: :get, form: {style: 'display:inline-block;'}, class: 'my_button', :title=>"Click here to add a quote." %>
    <%= button_to "Quotes List", index_path, method: :get, form: {style: 'display:inline-block;'}, class: 'my_button', :title=>"Click here to see the entire database of quotes." %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
